.margin-top {
  margin-top: 2.4rem;
}
.margin-remove {
  margin: 0 0 !important;
}
.margin-bottom {
  margin-bottom: 2rem;
}

.align-center {
  margin: auto auto !important;
  align-items: center !important;
}