.header__section {
  padding-top: 3rem;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //background-color: #ff6b6b;
}
.middle__section {
  height: 40vh;
  display: flex;
  flex-direction: column;
  background-color: #61dafb;
  padding-top: 0;
  align-items: center;
}